@import "tailwindcss";
@import "tw-animate-css";

@custom-variant hover (&:hover);

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-gold: var(--gold);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-sans: "Red Hat Display", sans-serif;

  --background-image-pattern: url("/pattern.png");
}

:root {
  --foreground: #232b38;
  --background: #090204;

  --card: #ffffff;
  --card-foreground: #232b38;

  --popover: #ffffff;
  --popover-foreground: #232b38;

  --primary: #c90019;
  --primary-foreground: #ffffff;

  --secondary: #dadfe6;
  --secondary-foreground: #232b38;

  --muted: #dadfe6;
  --muted-foreground: #526484;

  --accent: #dadfe6;
  --accent-foreground: #090204;

  --destructive: #dc2626;
  --destructive-foreground: #fafafa;

  --border: #dadfe6;
  --input: #dadfe6;
  --ring: #0a0a0a;

  --gold: #e4c491;

  --radius: 0.5rem;
}

@layer base {
  * {
    @apply outline-ring/50 font-sans;
  }

  html {
    @apply scroll-smooth text-[16px] sm:text-[18px] md:text-[20px] xl:text-[22px];
  }

  body {
    @apply text-foreground bg-background;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-linear-to-r from-gold to-white bg-clip-text text-transparent inline-block;
  }

  .border-gradient {
    @apply p-px bg-linear-to-r from-gold to-white backdrop-blur-lg;
  }
}
